*{
    box-sizing: border-box;
    /* flex-basis: 5; */
}
.flex-container{
    display: flex;
    background-color: aqua;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
}
.item{
    background: orange;
    border: 1px solid black;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
/* .item-1{
    flex-basis: 10;
}
.item-2{
    
    flex-shrink: 10; 
}
.item-3{
    flex-grow: 10;
} */